@import '../styles/main';

.Card {
  background-color: $theme-main;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  grid-gap: 12px;
  min-width: 400px;
  min-height: 200px;
  border-radius: 2px;
  @include box-shadow;
}